body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body{
  background-color: #F8F8F8;
}
@font-face {
  font-family: 'TT Lakes Condensed Regular';
  src: url('TTLakesCondensed-Regular.eot');
  src: url('TTLakesCondensed-Regular.eot?#iefix') format('embedded-opentype'),
  url('TTLakesCondensed-Regular.woff') format('woff'),
  url('TTLakesCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  }
@font-face {
  font-family: 'TT Lakes Condensed ExtraBold';
  src: url('TTLakesCondensed-ExtraBold.eot');
  src: url('TTLakesCondensed-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('TTLakesCondensed-ExtraBold.woff') format('woff'),
  url('TTLakesCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  }
  @font-face {
    font-family: 'TT Lakes Condensed Demi';
    src: url('TTLakesCondensed-DemiBold.eot');
    src: url('TTLakesCondensed-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('TTLakesCondensed-DemiBold.woff') format('woff'),
    url('TTLakesCondensed-DemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }
  .caption{
    font-family: 'TT Lakes';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 40px;
  }
.nav-menu{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin-top: 10px;
  margin: 1% 2%;
}
.btn-repair{
  background-color: #FF3E79;
}
.btn-search{
  background-color: #FF3E79;
}
.burger{
  margin-right: 10%;

  height: 40px;
width: 40px;
left: 16px;
top: 24px;
border-radius: 20px;
background: #FF3E79;
border-radius: 20px;
border: none;
}

.description-txt{
 display: none;
}

.flexcontainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
        .burger{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}
.burger__elem1{
  border-bottom: 2px solid;
  width: 60%;
  margin-bottom: 5px;
  margin-left: 19%;
  color: #FFFFFF;
  border-radius: 1px;
}
.burger__elem2{
  border-bottom: 2px solid;
  width: 50%;
  margin-bottom: 5px;
  margin-left: 19%;
  color: #FFFFFF;
  border-radius: 1px;
}
.burger__elem3{
  border-bottom: 2px solid;
  width: 60%;
  color: #FFFFFF;
  border-radius: 1px;
  margin-left: 19%;
}
.logo{
  display: flex;
 
}
.logo__img{
  margin-right: 16px;
}
.btn-repair{
  height: 40px;
width: 40px;
left: 16px;
top: 24px;
border-radius: 20px;
border: none;
}
.btn-repair__img{
margin-top: 2px;

}

.feedback-status{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.btn-search{
  height: 40px;
  width: 40px;
  left: 16px;
  top: 24px;
  border-radius: 20px;
  border: none;
}
.btn-search__img{
  margin-top: 2px;

}
.btn-search{
  margin-left: 12px;
}
.service-navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  flex-shrink: 0;

}
.service-navigation__btn{
  white-space:nowrap;
}
.service-navigation{
  margin-bottom: 3%;
}
.service-navigation::-webkit-scrollbar {
  display: none;
}
.service-navigation{
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.content__btn{
 margin-right: 2%;
}
.flexcontainer{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.service-navigation__btn{
  flex-shrink: 1;
  margin-right: 5px;

  font-family: TT Lakes;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.20000000298023224px;
text-align: left;
color: #7E7E82;
text-align: center;
background-color: #F8F8F8;
border: none;
margin-top: 2%;
padding-top: 5px;
padding-bottom: 5px;
border: 2px solid#F8F8F8;
}
.service-navigation__btn:hover{
  box-sizing: border-box;
  border: 2px solid#41F6D7;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.btn-call,
.btn-message,
.btn-contact{
  height: 40px;
    width: 40px;
    left: 16px;
    top: 24px;
    border-radius: 20px;
    border: none;
    background-color: #FF3E79;
    text-align: center;
    display: none;
}
.btn-call__img,
.btn-message__img,
.btn-contact__img
{
  margin-top: 3px;
}
.read-more{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-bottom: 2%;
}
@media (min-width: 768px) {
  .btn-call,
.btn-message,
.btn-contact{
  display: inline;
  margin-left: 6px
}

.contact-buttons{
  margin-right: 4%;
  display: flex;
}
.btn-repair{
  margin-left: 3%;
}
.btn-search,
.btn-repair{
  margin-left: 1%;
width: 44px;
}
}
.repair-requests{
  display: none;
}
.caption{
  border-left:4px solid #41F6D7;
  padding-left: 10px;
  margin-left: -2%;
  margin-top: 3%;
}
.repair-requests{
  margin-top: 3%;
}
@media (min-width: 1120px) {
  .reviews{
    display: inline;
    margin-left: 3%;
    margin-bottom: 2%;
    font-family: 'TT Lakes';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #7E7E82;
  }
  .btn-call,
.btn-message,
.btn-contact{
  display: none;
}

.logo__img,
.burger,
.feedback-status{
  display: none;
}
.repair-requests{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}
.service-navigation{
  margin-left: 3%
}
.caption{
  border-left:4px solid 
  #41F6D7;
  padding-left: 10%;
  margin-left: -7.6%;
}
.services__upper1120{
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  margin: 1% 3%;

}
.btn-search,
.btn-repair{
  margin-left: 1%;
width: 41px;
flex-shrink: 0;
}  
.application{
 color: #1B1C21;
  flex-wrap: nowrap;
  margin-left: 15%;
  font-family: 'TT Lakes';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
}
}
@media (max-width: 1180px) {
  .reviews{
    display: flex;
    margin-left: 3%;
  }
  .application{
    margin-left: 15%;
  }
}
.content-picture__img{
  max-width: 100%;
}
@media (min-width: 768px) {
  .description-next{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1% 3%;
    width: 85%;
  }
  .description-next-container{
    max-width: 40%;
    display: flex;
    flex-direction: column;
  }
  .content__next__descr__txt_plus{
    display: none;
  }
}
.caption
.read-more{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top:2%;
  margin-bottom: 2%;
  margin-left: -2%;
}
.read-more__txt{
  color: #1B1C21;
  font-family: 'TT Lakes';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
}
.description-next{
  margin-top: 3%;
}
.description-next-container{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.reviews{
  display: none;
}
.sequel-description-additional{
  display: none;
}
@media (min-width: 1120px) {

  .sequel-description-additional{
    display: flex;
    font-family: 'TT Lakes';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;
color:#1B1C21;
  }
  .reviews{
    display: inline;
    margin-left: 3%;
  }
}
@media (max-width: 1120px) {
.description-next {
  margin: 2% 2%;
}
}
.sequel-description{
color:#1B1C21;
font-family: 'TT Lakes';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;
}
@media (min-width: 1121px) {
  .services__upper1120{    
    margin-left: 5%;

}
}
@media (max-width: 768px) {
  .feedback-status{
    border-left: 2px solid #EAEAEA;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .content-picture__img{
    padding-left: 20px;
  }
  .logo__img{
    border-left: 2px solid #EAEAEA;
    padding-left: 10px;
  }
 .contact-buttons{
    border-right: 2px solid #EAEAEA;
    padding-right: 10px;
  }
}
.burger-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service-navigation